<div id="banner-home">
    <img src="assets/img/Banner.png">
    <div class="texto-home">
        <h1>{{titulo}}</h1>
    </div>
</div>
<section id="categorias">
    <div class="titulo-categorias">
        <h1>{{categorias}}</h1>
    </div>
    <form>
        <input type="text" placeholder="Pesquise o seu produto">
        <button>Pesquisar</button>
    </form>
    <div class="categorias">
        <img src="assets/img/Pc.png">
        <img src="assets/img/Console.png">
        <img src="assets/img/not.png">
        <img src="assets/img/Jogo.png">
        <img src="assets/img/Acessorio.png">
    </div>
</section>
<section id="vendidos">
    <div class="titulo-vendidos">
        <h1>{{vendidos}}</h1>
    </div>
    <div class="produtos">
        <div class="produto">
            <img src="assets/img/produto1.png">
            <div class="bloco">
                <h2>{{produto}}</h2>
                <button>Comprar</button>
            </div>
        </div>
        <br>
        <div class="produto">
            <img src="assets/img/produto1.png">
            <div class="bloco">
                <h2>{{produto}}</h2>
                <button>Comprar</button>
            </div>
        </div>
        <br>
        <div class="produto">
            <img src="assets/img/produto1.png">
            <div class="bloco">
                <h2>{{produto}}</h2>
                <button>Comprar</button>
            </div>
        </div>
        <br>
        <div class="produto">
            <img src="assets/img/produto1.png">
            <div class="bloco">
                <h2>{{produto}}</h2>
                <button>Comprar</button>
            </div>
        </div>
    </div>
</section>