<section id="carrinho">
    <div class="titulo">
        <h1>Carrinho</h1>
    </div>
    <br>
    <div class="carrinho">
        <h1>Carrinho de Compras</h1>
    </div>
    <br><br>
    <div class="produto">
        <img src="assets/img/imagemproduto.png">
        <br><br>
        <h2>R$ 3.579,99</h2>
    </div>
    <br><br><br>
    <div class="cep">
        <h1>Digite o seu CEP para calcularmos o valor do frete</h1>
        <div class="form">
            <input type="text">
            <button>Calcular frete</button>
        </div>
    </div>
    <br><br><br>
    <div class="finalizar">
        <button>Finalizar Compra</button>
    </div>
</section>